@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* "*" means the default for entire webpage and its screen elements */
* {
    font-family:    'Gill Sans', sans-serif;
    box-sizing:     border-box;
    margin:         0;
    padding:        0;
}
/* common style for all body content in page */
body {
    background-color: rgb(101, 117, 29);
    min-height:     100vh;
    min-width:      100vw;
    display:        flex;
    flex-direction:    column;
    font-size:      1.0vw;
    overflow:       auto;
}

/* ===============   Header or Banner styling   ================*/
header {
    /* properties for the header bar & logo */
    background-color: rgb(162, 115, 43);
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

    /* header will only take 5% of total viewport height */
    & h1 {
        display:             flex;
        align-items:         center;   /* vertical align text */
        justify-content:     center;   /* horizontal align text */
        flex-direction:     column;
        font-size: 3vw;
        color: white;
        min-height: 5vh;
    }
}

/* ===============   Navigation Bar styling   ================*/
nav {
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(3,3,3);
        display: flex;
        align-items:         center;   /* vertical */
        justify-content:     left;   /* horizontal align text */
    }
    & li {
        float: left;
        min-height: 4vh;
      }

    & li a {
        display: flex;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        width: 5vw;
        img {
            padding: 2px;
            width:    1.5vw;
            height: 2.5vh;
        }
    }

    /* Change the link color to #111 (black) on hover */
    & li a:hover {
        background-color: #111;
    }
}

/* ===============   Main Content styling   ================*/
maincontent {
    background-color: beige;
    min-height: 90vh;
    width: 100%;
    display:             flex;
    align-items:         center;   /* horizontal align text */
    justify-content:     top;   /* vertical align text */
    flex-direction:     column;
    color: #dc0b0b;

    & .mainImg {
        display:             flex;
        align-items:         center;   /* horizontal align text */
        justify-content:     top;   /* vertical align text */
        flex-direction:     column;
        width: 70vw;
        height: 70vh;
    }
}

/* ===============   Footer styling   ================*/

footer {
    background-color: rgb(108, 76, 38);
    font-size: 1vw;
    min-height: 2vh;
    display: flex;
    align-items: center;   /* vertical */
    justify-content:     center;   /* vertical align text */
}

/* ========== movie styling ===========*/
movie {
    display: block; /* Makes <movie> behave like a div */
    border: 2px solid #ccc;
    background-color: #fff;
    padding: 15px;
    margin: 20px auto;
    width: fit-content;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  
  
  /* Optional: style elements inside */
  movie h4 {
    margin-top: 0;
    font-size: 1.5em;
    color: #c00;
  }
  
  movie img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  movie div, movie iframe, movie h5 {
    margin-top: 10px;
  }
}

locations {
    margin-top:0;
}